<div id="<%= dom_id inwoner %>">
  <p>
    <strong>Identifier:</strong>
    <%= inwoner.identifier %>
  </p>

  <p>
    <strong>Firstname:</strong>
    <%= inwoner.firstname %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= inwoner.lastname %>
  </p>

  <p>
    <strong>Dateofbirth:</strong>
    <%= inwoner.dateofbirth %>
  </p>

  <p>
    <strong>Sex:</strong>
    <%= inwoner.sex %>
  </p>

</div>
